@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 17px;
  
}

*::selection {
  background-color: #f5f5f5;
  color: #000;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  color: #eaeaea;
}

.arial {
  font-family: Arial, sans-serif;
}

.glow {
  animation: appear 10s ease-in-out infinite alternate;
  pointer-events: none;
  z-index: -1;
}

.blog-content {
  background: rgb(254, 254, 248);
  line-height: 1.4em;
}


.blog-content p, .blog-content p *, .blog-content p em  {
  font-size: 1.2rem !important;
  line-height: 1.75rem;
  color: #111827;
}

.blog-content em {
  font-size: 1.1rem !important;
  color: #111827;
}

.blog-content li {
  color: #111827;
}

.red-links > blockquote {
  font-style: normal;
}
.red-links > blockquote > a {
  /* color: #ffffff !important; */
  font-style: normal;
}
.prose a {
  font-style: normal;
  font-weight: 600;
}

.blog-content h1 strong,
.blog-content h2 strong,
.blog-content h3 strong,
.blog-content h4 strong,
.blog-content h5 strong,
.blog-content h6 strong {
  font-size: 2rem;
}
.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.animate-fade-in-neutral {
  animation: fadeInNeutral 0.5s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  strokewidth: 4px;
  stroke: var(--swiper-theme-color);
  stroke: white;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.black-footer footer * {
  color: #181818;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInNeutral {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
